/***************************************
GENERAL
***************************************/

html,
body,
#site-wrapper {
	height: 100%;
}

body {
	opacity: 0;
	transition: opacity $default-transition;
}

#site-wrapper {
	@include flexy($dir:column);
}